#### Glucose Set 분석

In [1]:
import pandas as pd

glocose_data = pd.read_csv('data/Glucose_Set-2A-1.csv',index_col=[0])
cgm_datas = pd.DataFrame(glocose_data)

#### 표 만들기 위한 함수

In [2]:
def make_excel(datas, var_group, var_data):
    count = 0
    for var in var_group:
        var_data[count][0] = datas[datas[var] > 0][var].mean() # [var] [datas[var] > 0][var]
        var_data[count][1] = datas[datas[var] > 0][var].var()
        var_data[count][2] = datas[datas[var] > 0][var].std()
        var_data[count][3] = datas[datas[var] > 0][var].min()
        var_data[count][4] = datas[datas[var] > 0][var].max()
        count += 1
    
    return var_data

#### 환경변수 23개 항목에 대한 평균, 분산, 최대최소 값 도출

In [3]:
variable_group1 = ['mPD1', 'mPD2', 'mPD3', 'Th3_C', 'Th4_C', 'Th5_C', 'Th6_C', 'T-rPD'] 
variable_group2 = ['LD_C_Av', 'mPD1_AvD', 'mPD2_AvD', 'mPD3_AvD', 'Th3_AvD', 'Th4_AvD', 'Th5_AvD', 'Th6_AvD']
variable_group3 = ['T-rPD_AvD', 'R-rPD_AvD', 'mPD1_AL-D', 'mPD2_AL-D', 'mPD3_AL-D', 'T-rPD_AL-D', 'R-rPD_AL-D']

number_data = ['mean', 'var', 'std', 'min', 'max']

var_data1 = [[0 for j in range(5)] for i in range(len(variable_group1))]
var_data2 = [[0 for j in range(5)] for i in range(len(variable_group2))]
var_data3 = [[0 for j in range(5)] for i in range(len(variable_group3))]

var_data1 = make_excel(cgm_datas, variable_group1, var_data1)
statistic1 = pd.DataFrame(var_data1, columns=number_data, index=variable_group1)

var_data2 = make_excel(cgm_datas, variable_group2, var_data2)
statistic2 = pd.DataFrame(var_data2, columns=number_data, index=variable_group2)

var_data3 = make_excel(cgm_datas, variable_group3, var_data3)
statistic3 = pd.DataFrame(var_data3, columns=number_data, index=variable_group3)

#### 데이터 csv파일로 저장

In [4]:
cgm_csv = pd.DataFrame()
cgm_csv = pd.concat([cgm_csv, statistic1])
cgm_csv = pd.concat([cgm_csv, statistic2])
cgm_csv = pd.concat([cgm_csv, statistic3])

print(cgm_csv)
# cgm_csv.to_csv('data_analysis_glucose.csv',index = True) # csv 파일 저장 코드

                  mean           var         std        min         max
mPD1         67.461601   9818.916355   99.090445   3.967346  268.177307
mPD2         91.317755  20224.088012  142.211420   4.005493  390.287628
mPD3         84.060924  14244.459507  119.350155   4.921034  315.136932
Th3_C        24.107085      0.032348    0.179855  23.609000   24.364000
Th4_C        24.746438      0.009744    0.098709  24.493000   24.943000
Th5_C        23.818981      0.007424    0.086162  23.533000   23.996000
Th6_C        23.580070      0.049019    0.221401  22.861000   23.920000
T-rPD       150.538821  10245.516103  101.220137  36.736095  322.232391
LD_C_Av      11.715879     14.692426    3.833070   6.000000   16.300000
mPD1_AvD      4.051828      0.000111    0.010546   4.024567    4.081788
mPD2_AvD      4.118211      0.000137    0.011702   4.085603    4.154269
mPD3_AvD      5.034815      0.000161    0.012681   5.001144    5.069810
Th3_AvD      24.107002      0.032322    0.179783  23.619000   24.358000
Th4_AvD      24.745950      0.009734    0.098662  24.497000   24.940000
Th5_AvD      23.818932      0.007446    0.086291  23.533000   23.989000
Th6_AvD      23.580587      0.048817    0.220947  22.867000   23.916000
T-rPD_AvD    19.811123      0.000681    0.026092  19.745175   19.871062
R-rPD_AvD    21.198353      0.000100    0.009988  21.168079   21.225300
mPD1_AL-D    79.222696  11013.710888  104.946229   0.001000  264.042000
mPD2_AL-D   111.208527  23123.298312  152.063468   0.001000  386.110000
mPD3_AL-D    99.992235  15927.884950  126.205725   0.001000  310.079000
T-rPD_AL-D  130.683960  10244.371344  101.214482  16.941328  302.294573
R-rPD_AL-D    0.131793      0.008937    0.094534   0.000424    0.366215