####

In [1]:
import pandas as pd

origin_data1 = pd.read_csv('data/DA0927_STP1.csv', encoding='cp949')
origin_data2 = pd.read_csv('data/DA0927_STP2.csv', encoding='cp949')
origin_data2

C:\Users\ojski\anaconda3\envs\HnsEnv\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,루프#,dt10(s),LD1 Temp,LD2 Temp,LD3 Temp,Rx1 Temp,Rx2 Temp,S1 T(C),S2 T(C),FR Mon,...,LD123_Bias_Av,mPD1_dS,mPD2_dS,mPD3_dS,T-rPD_L1dS,T-rPD_L2dS,T-rPD_L3dS,R-rPD_L1dS,R-rPD_L2dS,R-rPD_L3dS
0,0,0.602,26.799,26.853,26.799,26.267,26.399,25.034,24.887,1193.217285,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.262,26.853,26.853,26.853,26.325,26.399,25.034,24.892,1193.980347,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.922,26.853,26.853,26.853,26.267,26.399,25.027,24.887,1193.713257,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2.582,26.853,26.853,26.853,26.267,26.399,25.029,24.899,1193.865967,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,3.242,26.853,26.853,26.853,26.267,26.399,25.026,24.899,1193.675049,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42304,42304,14533.682,26.853,26.853,26.853,26.267,26.348,24.255,24.195,1643.892578,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42305,42305,14534.342,26.853,26.799,26.853,26.267,26.348,24.258,24.195,1644.312134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42306,42306,14535.003,26.853,26.853,26.853,26.267,26.399,24.260,24.201,1643.625488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42307,42307,14535.663,26.906,26.853,26.853,26.267,26.399,24.255,24.193,1644.083252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42308,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

####

In [2]:
columns_1 = ["Meas?", "G(mg/dL)", "LD1 Temp", "LD123_Bias_Av", "mPD1_dS", "T-rPD_L1dS", "R-rPD_L1dS"]
columns_2 = ["Meas?", "G(mg/dL)", "LD2 Temp", "LD123_Bias_Av", "mPD2_dS", "T-rPD_L2dS", "R-rPD_L2dS"]
columns_3 = ["Meas?", "G(mg/dL)", "LD3 Temp", "LD123_Bias_Av", "mPD3_dS", "T-rPD_L3dS", "R-rPD_L3dS"]

data_S1 = origin_data1[columns_1]
data_S1 = pd.concat([data_S1, origin_data2[columns_1]])

data_S2 = origin_data1[columns_2]
data_S2 = pd.concat([data_S2, origin_data2[columns_2]])

data_S3 = origin_data1[columns_3]
data_S3 = pd.concat([data_S3, origin_data2[columns_3]])

data_S1

,Meas?,G(mg/dL),LD1 Temp,LD123_Bias_Av,mPD1_dS,T-rPD_L1dS,R-rPD_L1dS
0,False,-1.000000,26.853,0.0,0.0,0.0,0.0
1,False,-1.000000,26.853,0.0,0.0,0.0,0.0
2,False,-1.000000,26.853,0.0,0.0,0.0,0.0
3,False,-1.000000,26.853,0.0,0.0,0.0,0.0
4,False,-1.000000,26.853,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
42304,False,135.994774,26.853,0.0,0.0,0.0,0.0
42305,False,135.994774,26.853,0.0,0.0,0.0,0.0
42306,False,135.994774,26.853,0.0,0.0,0.0,0.0
42307,False,135.994774,26.906,0.0,0.0,0.0,0.0
42308,NaN,135.994774,0.000,0.0,0.0,0.0,0.0

In [3]:
new_columns = ["Mean", "G(mg/dL)", "LD Temp", "LD123_Bias_Av", "mPD_dS", "T-rPD_dS", "R-rPD_dS"]

data_S1.columns = new_columns
data_S2.columns = new_columns
data_S3.columns = new_columns

# 결측치 제거
data_S1 = data_S1[data_S1["Mean"] != False]
data_S1 = data_S1[data_S1["mPD_dS"] != 0]
data_S1 = data_S1[data_S1["G(mg/dL)"] >= 0]

data_S2 = data_S2[data_S2["Mean"] != False]
data_S2 = data_S2[data_S2["mPD_dS"] != 0]
data_S2 = data_S2[data_S2["G(mg/dL)"] >= 0]

data_S3 = data_S3[data_S3["Mean"] != False]
data_S3 = data_S3[data_S3["mPD_dS"] != 0]
data_S3 = data_S3[data_S3["G(mg/dL)"] >= 0]

data_S1 = data_S1.drop(labels='Mean',axis=1)
data_S2 = data_S2.drop(labels='Mean',axis=1)
data_S3 = data_S3.drop(labels='Mean',axis=1)

data_S1.to_csv('data/data_S1.csv', index=False, encoding='utf-8')
data_S2.to_csv('data/data_S2.csv', index=False, encoding='utf-8')
data_S3.to_csv('data/data_S3.csv', index=False, encoding='utf-8')

data_S1

         G(mg/dL)  LD Temp  LD123_Bias_Av      mPD_dS     T-rPD_dS    R-rPD_dS
935      0.000000   26.906           13.1  979.748360  1099.479324  327.148649
936      0.000000   26.906           13.1  979.595772  1099.574661  327.091428
937      0.000000   26.853           13.1  979.595772  1099.504715  327.123217
938      0.000000   26.906           13.1  979.624398  1099.555588  327.329847
939      0.000000   26.853           13.1  979.626314  1099.448782  327.324125
...           ...      ...            ...         ...          ...         ...
42145  135.994774   26.853           13.1  981.350609  1082.904220  327.940199
42146  135.994774   26.906           13.1  981.394475  1082.984335  328.254918
42147  135.994774   26.906           13.1  981.442802  1082.967819  328.197701
42148  135.994774   26.853           13.1  981.520919  1083.037757  328.118677
42149  135.994774   26.906           13.1  981.527046  1083.066376  328.035566

[3344 rows x 6 columns]